<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/styles.css">
	<title>Pagina</title>
</head>
<body>
	<h1>Hola {{ username }}</h1>
	<p>Hola {{ mensaje }}</p>
	<ul>
		{% for el in lista %}
			<li>{{ el }}</li>
		{% endfor %}
	</ul>
	<ol>
		{% for key, value in dict.items() %}
			{% if key % 2 == 0 %}
				<strong><li>{{ value }}</li></strong>
			{% else %}
				<li>{{ value }}</li>
			{% endif %}
		{% endfor %}
	</ol>
	{% if is_admin %}
		<h3><strong>Sos admin</strong></h3>
		<p>Podes tocar el boton: </p>
		<button class="admBtn">Boton</button>
	{% else %}
		<p>No sos admin</p>
	{% endif %}
</body>
</html>